@page "/build"
@using Microsoft.EntityFrameworkCore;
@using MythicalToyMachine.Data;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Authorization;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContextAccessor
@inject HttpClient Http
@inject IDbContextFactory<PostgresContext> dbcontext
@inject IUserRoleService userRoleService

<PageTitle>BuildAToy</PageTitle>

@if (userRoleService.IsAuthenticated)
{
    <body>

    <Div id="flex-container">
        <Div id="accessory-column" Class="flex-column">
            <Div  Class="accessory-img img-fluid" id="unicornhorn">
                <img class="img-fluid" src="/Images/Accessories/unicornhorn.png">
            </Div>
            <Div Class="accessory-img img-fluid" id="antlers">
                <img class="img-fluid" src="/Images/Accessories/antlers.png">
            </Div>
            <Div Class="accessory-img img-fluid" id="wing">
                <img class="img-fluid" src="/Images/Accessories/wing.png">
            </Div>
            <Div Class="accessory-img img-fluid" id="wing-evil">
                <img class="img-fluid" src="/Images/Accessories/wing-evil.png">
            </Div>
            <Div Class="accessory-img img-fluid" id="js">
                <img class="img-fluid" src="/Images/Accessories/js.png">
            </Div>
        </Div>

        <div id="center-column" class="flex-column">
            <div id="page-subtitle img-fluid">
                <img style="user-select: none;" src="/Images/Accessories/subtitle.png">
            </div>
            <div id="dragContainer" class="dino-img">
                    <canvas id="dinoCanvas" width="600" height="300">

                    </canvas>
            </div>
            <Div Class="option-buttons">
                <button class="btn btn-success option-buttons" @onclick="() => AddKitAsync() ">Save</button>
                <a href="/MyCreations" class="btn btn-secondary option-buttons">View my past creations</a>
            </Div>

        </div>

        <Div id="colors-column" class="flex-column">
            <div class="red rounded-circle color-selection"></div>
            <div class="orange rounded-circle color-selection"></div>
            <div class="yellow rounded-circle color-selection"></div>
            <div class="green rounded-circle color-selection"></div>
            <div class="blue rounded-circle color-selection"></div>
            <div class="purple rounded-circle color-selection"></div>
            <img id="eraser" draggable="false" src="/Images/Accessories/eraser.png">
        </Div>

    </Div>


    
    

    @*
    <img class="img-fluid" src="/Images/Accessories/dino.png">

    var x = 0;
    var y = 0;
    var isDrawing = false;
    const cnv = document.getElementById('canvas');
    const ctx = cnv.getContext('2d');

    cnv.addEventListener("mousedown", (e) => {
    x = e.offsetX;
    y = e.offsetY;
    isDrawing = true
    });

    cnv.addEventListener("mousemove", (e) => {
    if (isDrawing === true) {
    drawLine(x, y, e.offsetX, e.offsetY);
    x = e.offsetX;
    y = e.offsetY;
    }
    });

    cnv.addEventListener("mouseup", (e) => {
    if (isDrawing === true) {
    drawLine(x, y, e.offsetX, e.offsetY);
    x = 0;
    y = 0;
    isDrawing = false;
    }
    });

    function drawLine(x1, y1, x2, y2) {
    ctx.beginPath();
    ctx.strokeStyle = @pencilColor;
    ctx.lineWidth = 10;
    ctx.moveTo(x1, y1);
    ctx.lineTo(x2, y2);
    ctx.stroke();
    ctx.closePath();
    }



    
    <label for="kitCreature">Choose a Creature: </label>

     <select @bind="creatureid" name="kitCreature" id="kitCreature">
        @foreach(var c in Creatures)
        {
            <option value="@c.Id">@c.Creaturename</option>
        }
    </select>

     @foreach(var a in Accessories)
    {
        <button @onclick="() => AddAccessory(a.Id)">Add @a.Accessoryname</button>
    } 

     <div class="Products d-flex flex-row">
    @foreach(var u in UserAccessories)
    {
        <div class="flex-row">
            <div>@u.Acc.Accessoryname</div>
            <div>@u.Qty</div>
            <button @onclick="() => RemoveAccessory(u.AccId)">Remove 1</button>
        </div>
    }
    </div> *@

        <script src="js/drawingscript.js" type="module"></script>

    </body>
    
}
else
{
    <message class="validation-message">You need to <a class="btn btn-info" href="/identity/login">log in</a> to create a kit</message>
}







@code {
    private ClaimsPrincipal User;
    private int userId { get; set; }
    private string userName { get; set; }
    private Accessory[] Accessories { get; set; }
    private Creature[] Creatures { get; set; }
    private List<KitAccessory> UserAccessories { get; set; }
    private Creature? creature {get;set;}
    private string creatureid { get; set; }
    private Kit[] Creations { get; set; }
    string pencilColor;

    
    

    protected override async Task OnInitializedAsync()
    {
        Accessories = new Accessory[] { };
        Creatures = new Creature[] {};
        UserAccessories = new();
        creature = new Creature { Creaturename = ""};
        var context = dbcontext.CreateDbContext();
        Creations = new Kit[] { };
        creatureid = "1";



        User = _httpContextAccessor.HttpContext.User;
        var GoogleUser = User.Identities.FirstOrDefault();
        if (GoogleUser.IsAuthenticated)
        {
            userId = await userRoleService.LookUpUserAsync(GoogleUser.FindFirst(ClaimTypes.Email).Value,
                GoogleUser.FindFirst(ClaimTypes.Name).Value,
                GoogleUser.FindFirst(ClaimTypes.Surname).Value
                );
            userName = GoogleUser.FindFirst(ClaimTypes.Name).Value;
        }
        if(userRoleService.IsAuthenticated)
        {
            Accessories = await context.Accessories.ToArrayAsync();
            Creatures = await context.Creatures.ToArrayAsync();
            creature = await context.Creatures.Where(c => c.Id == 1).FirstOrDefaultAsync();
            Creations = await context.Kits.Where(k => k.CreatorId == userId)
                                          .Include(k => k.KitAccessories)
                                          .ThenInclude(k => k.Acc)
                                          .ToArrayAsync();
        }
    }

    private void AddAccessory (int kitID)
    {
        bool added = false;
        foreach(var ka in UserAccessories)
        {
            if (ka.AccId == kitID)
            {
                ka.Qty = ka.Qty + 1;
                added = true;
            }
        }
        if(added != true)
        {

            UserAccessories.Add(
                new KitAccessory()
                    {
                        AccId = kitID,
                        Qty = 1,
                        Acc = Accessories.Where(a => a.Id == kitID).FirstOrDefault()
                     }
            );
        }
    }

    private void RemoveAccessory(int kitID)
    {
        KitAccessory kItToRemove = new();
        foreach (var ka in UserAccessories)
        {
            if (ka.AccId == kitID && ka.Qty > 1)
            {
                ka.Qty = ka.Qty - 1;
                break;
            }
            else if (ka.AccId == kitID)
            {
                kItToRemove = ka;
                break;
            }
        }
        UserAccessories.Remove(kItToRemove);
    }

    private async Task AddKitAsync()
    {
        var context = await dbcontext.CreateDbContextAsync();
        int newKitID = context.Kits.Max(c => c.Id) + 1;
        int newKitAccID = context.KitAccessories.Max(k => k.Id) + 1;
        Kit kitToAdd = new Kit
            {
                Id = newKitID,
                Kitname = $"{userName}'s Creation{Creations.Length + 1}",
                ThumbnailPath = "/Images/FlyingDinousary.png",
                CreatorId = userId,
                Shoulddisplay = false,
                CreatureId = int.Parse(creatureid)
            };
        await context.Kits.AddAsync(kitToAdd);

        for (int i = 0; i < UserAccessories.Count; i++)
        {
            KitAccessory toAdd = new KitAccessory
                {
                    AccId = UserAccessories[i].AccId,
                    Id = newKitAccID + i,
                    KitId = newKitID,
                    Qty = UserAccessories[i].Qty

                };
            await context.KitAccessories.AddAsync(toAdd);
        }
        await context.SaveChangesAsync();
    }

}